@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 80%;
  margin: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width:1050px) {
  .app {
    width: 90%;
  }
}
.message-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #9de176;
  border: none;
  border-radius: 50%;
  padding: 15px; /* Keep padding to maintain button size */
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-icon img {
  width: 48px; /* Increased size */
  height: 48px; /* Increased size */
  margin: -12px; /* Use negative margins to adjust image position */
}

.iframe-container {
  position: fixed;
  bottom: 70px;
  right: 20px;
  width: 400px;
  height: 500px;
  border: none;
  z-index: 999;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px; /* Curved sides */
  overflow: hidden; /* Ensures the iframe respects the border radius */
}

.iframe {
  width: 100%;
  height: 100%;
  border: none;
}
